.mainDiv {
  background-color: black;
  color: white;
  font-size: 80px;
  height: 200px;
  padding-top: 60px;
  display: flex;
  border-bottom-style: dotted;
  border-bottom-color: white;
  border-bottom-width: 1px;
}


.headerDiv {
  width: 50%;
  background-color: black;
  font-family: serif;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  from {color: white;}
  to {color: blue;}
}


.navButtons {
  margin-left: 400px;
}


.buttonC {
  vertical-align: middle;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  border-style: solid;
  border-color: white;
}
.buttonC:hover {
  background-color: blue;
  transition-duration: 0.75s;
}
.buttonC:active {
  transition-duration: 1ms;
  background-color: lightblue;
}



.footer {
  background-color: black;
  display: flex;
  justify-content: center;

}
.theToes {
  display: flex;
  flex-direction: row;
  width: 300px;
  background-color: black;
  margin-top: 2px;
}
.toe {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.projectContainer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.githubL {
  font-size: 10px;
  margin-top: 150px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 50px;
}
.githubL:hover {
  background-color: blue;
}
.githubF {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.githubB {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

a {
  text-decoration:none;
  color: inherit;
  opacity: 1;
}

.textEditor {
  height: 250px;
  width: 250px;
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  border-color: white;
  background-image: url('https://th.bing.com/th/id/R.261d79268475f4dede873118fb7a506f?rik=RqXLF8DGne%2bdMw&pid=ImgRaw&r=0');
  background-position-x: center;
  background-size: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.textEditor:hover {
  opacity: 1;
}
.techBlog {
  height: 250px;
  width: 250px;
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url('https://ak.picdn.net/shutterstock/videos/26245283/thumb/1.jpg');
  background-position-x: center;
  border-style: solid;
  border-color: white;
  opacity: 0.5;
}
.techBlog:hover {
  opacity: 1;
}
.ammino {
  height: 250px;
  width: 250px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-image: url('https://th.bing.com/th/id/OIP.h_WGdg09oWk0PgtHgwPBXAHaE8?pid=ImgDet&rs=1');
  background-position-x: center;
  background-size: 380px;
  border-style: solid;
  border-color: white;
  opacity: 0.5;
}
.ammino:hover {
  opacity: 1;
}




.nav-linkActive {
  color: blue;
}
.nav-link {
  color: white;
}

.helloName{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes gradient2 {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.form {
  /* background-color: blue; */
  background: linear-gradient(-45deg, rgb(0, 225, 255), #0306bd, #7102a5, #ce1b7d);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.resumeBack {
  height: 300px;
  background: linear-gradient(-45deg, rgb(3, 7, 221), #0552e2, #4002a5, #070abb);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resumeTop {
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom-style: dotted;
  border-bottom-color: white;
  border-bottom-width: 1px;
}
.download {
  color: white;
  font-weight: bold;
}

.downloadI {
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
  text-align: center;
}
.flex {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.mernStack {
  height: 100px;
  border-style: solid;
  border-color:black;
  border-width: 1px;
}

.portrait {
  height: 300px;
  width: 275px;
  border-radius: 5%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-top: 20px;
}
.AboutMePic {
  display: flex;
  flex-direction: row;
  background-color: black;
}
.AboutMePar {
  display: flex;
  align-items: center;
  color: white;
  height: 300px;
}

.sections {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: white;
}